* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.banner {
  width: 200px;
  margin: 0 auto;
}
.slider-container {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  border: 2px solid #f40;
  margin-top: 100px;
}
.slider-container .slider-item {
  width: 100%;
  flex-shrink: 0;
  height: 100px;
  background-color: lightblue;
  outline: 1px solid;
}
